<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" /> <!-- Define the character coding: preferred encoding for e-mail and web pages -->
        <meta http-equiv="x-ua-compatible" content="ie=edge" /> <!-- Latest Internet Explorer rendering mode (optional) -->
        <meta name="viewport" content="width=device-width, initial-scale=1" /> <!-- Define the width of the viewport: optimize for mobile and prevent zoom/horizontal scroll -->
        <meta name="author" content="Jacob MacDonald" />
        <meta name="description" content="Start Page for CSE 341" />

        <title>Start Page | Hello World</title>
    </head>
    <body>
        <header></header>
        <nav></nav>
        <main>
            <h1>Hello World</h1>
           
        </main>
        <footer>
        </footer>
    </body>
</html>