<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" /> <!-- Define the character coding: preferred encoding for e-mail and web pages -->
        <meta http-equiv="x-ua-compatible" content="ie=edge" /> <!-- Latest Internet Explorer rendering mode (optional) -->
        <meta name="viewport" content="width=device-width, initial-scale=1" /> <!-- Define the width of the viewport: optimize for mobile and prevent zoom/horizontal scroll -->
        <meta name="author" content="Jacob MacDonald" />
        <meta name="description" content="Template site for CSE 341" />

        <title>Home | Week 1</title>
        
        <link rel="stylesheet" media="screen" href="../css/main.css" />
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <script src="../scripts/main.js"></script>

    </head>
    <body>
        <header>
        </header>
        <main>
            <div class="row">
            <div class="divs col-sm-4" id="div1">div 1</div>
            <div class="divs col-sm-4" id="div2">div 2</div>
            <div class="divs col-sm-4" id="div3">div 3</div>
            </div>
            <label for="txtColor">Color:</label> <input type="text" id="txtColor" placeholder="#cccccc"><br />
            <button onclick="changeColor();">Change color</button>
            <button id="ccButton">JQuery Change Color</button><br>
            <button id="tvButton">JQuery Change Visibility</button>
            
        </main>
        <footer>
        </footer>

    </body>
</html>