/* Header and Main Navigation */
header #header{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-right: 20px;
    padding-bottom: 10px;
}

/* List of packages display */
#package-display{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
   }
   
#package-display li{
    margin-bottom: .5em;
    border: 1px #ccc solid;
    list-style-type: none;
    flex: 1 1 auto;
    text-align: center;
   }

#package-display a{
       text-decoration: none;
       color: black;
   }
#packageImg {
    max-width: 200px;
    /* height: 150px ; */
}
.formatCurrency::before{content: "$";}
