/* Header and Main Navigation */
header #header{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-right: 20px;
    padding-bottom: 10px;
}

/* List of packages display */

   
.indPackage{
    margin-bottom: .5em;
    border: 1px #ccc solid;
    list-style-type: none;
    flex: 1 1 auto;
    text-align: center;
    margin-right: 50px;
    margin-top: 30px;
    margin-left: 5px;
   }

.indPackage a{
       text-decoration: none;
       color: black;
   }
#packageImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    max-width: 200px;
}

.ph2{
    margin-left: -100px;
    text-align: center;

}

.formatCurrency::before{content: "$";}
